<div class="flex justify-content-center">
  <div class="container">
    <div class="flex flex-column w-full px-3">
      <div class="flex justify-content-between align-items-center">
        <h3>My Activity</h3>
        <img
          src="assets/images/user.jpeg"
          alt="user image"
          height="35"
          width="35"
          class="user-img"
        />
      </div>

      <div class="top-card space-x-3">
        <div *ngFor="let activity of activityList" class="activity-card">
          <ng-container
            [ngTemplateOutlet]="cardTemplate"
            [ngTemplateOutletContext]="{
              $implicit: activity
            }"
          ></ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TEMPLATES  -->

<!-- CARD -->
<ng-template #cardTemplate let-context>
  <div class="card card-layout__horizontal bg-white w-full align-items-center">
    <div class="mr-2">
      <app-icon class="text-primary-purple" [key]="context.iconKey"></app-icon>
    </div>
    <div class="flex flex-column flex-1">
      <span
        ><span>{{ context.value }}</span>
        <ng-container *ngIf="context?.unit">
          {{ context.unit }}</ng-container
        ></span
      >
      <span>{{ context.title }}</span>
      <div
        class="progress-bar"
        style="--progress-value: {{ context.progressPercentage }}"
      ></div>
    </div>
  </div>
</ng-template>
