:host {
  .user-img {
    border-radius: 100%;
  }

  .activity-card {
    min-width: 10rem;
    width: 10rem;
  }

  .progress-bar {
    $rounded: var(--border-radius);
    height: 0.5rem;
    width: 100%;
    border-radius: $rounded;
    background: rgba($color: #beb3ff, $alpha: 0.25);
    display: flex;
    overflow: hidden;

    &::after {
      content: "";
      height: 100%;
      width: calc(var(--progress-value) * 1%);
      border-radius: $rounded;
      background: var(--primary-lime-green);
    }
  }

  .top-card {
    $padding: 2rem;
    padding: $padding;
    display: flex;
    overflow: scroll;
    flex-direction: row;
    margin-right: -#{$padding};
    margin-left: -#{$padding};
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
