:host {
  .chart-wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .chart {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .weight-data > span {
    margin-top: auto;
    margin-bottom: 0;
  }

  $space: 0.75rem;
  $width: calc((100% - $space) / 3);

  .bmi-scale {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div {
      width: $width;
    }
  }

  .bmi-scale-value {
    display: flex;
    flex-wrap: wrap;
    > div {
      width: calc((100%) / 3);
      justify-content: start;

      span {
        margin-left: -#{$space / 1.5};
      }
    }
  }

  .value-description {
    span {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .dot {
      $size: 0.5rem;
      width: $size;
      height: $size;
      border-radius: 100%;
      background: var(--dot-color);
      margin-right: 0.5rem;
    }
  }
}
