$colors: (
  "white": "#fff",
  "black": "#000",
  "gray": "#AEACBA",
  "primary-purple": "var(--primary-purple)",
  "primary-lime-green": "var(--primary-lime-green)",
  "secondary-purple": "var(--secondary-purple)",
  "secondary-lime-green": "var(--secondary-lime-green)",
);

@each $color, $value in $colors {
  .text-#{$color} {
    color: #{$value};
  }

  .bg-#{$color} {
    background-color: #{$value};
  }
}
