:root {
  --primary-purple: #7b66ff;
  --primary-lime-green: #c2ff4d;
  --primary-black: #323232;
  --secondary-purple: #beb3ff;
  --secondary-lime-green: #e7ffb8;
  --white-background: #fafafa;
  --border-radius: 1rem;
}

@import "./spacing";
@import "./util";
@import "./display";
@import "./color";
